@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin button-gradient {
    background-image: linear-gradient(to right, $darker-blue 0%, $light-blue  40%);
    padding: 0.75rem 1.75rem;
    text-align: center;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px $shadow;
    border-radius: 2rem;
    white-space: nowrap;
    cursor: pointer;
}